.cls-1, .svg-black {
    fill:var(--color-primary);
}
.cls-2, .svg-line-black {
    fill:none;
    stroke:var(--color-primary);
    stroke-miterlimit:10;
    stroke-width:2px;
}
.svg-white {
    fill:var(--color-secondary);
}
.svg-line-white {
    stroke:var(--color-secondary);   
}