.p-cls-1, .p-svg-black {
    fill:var(--color-primary);
}
.p-cls-2, .p-svg-line-black {
    fill:none;
    stroke:var(--color-primary);
    stroke-miterlimit:10;
    stroke-width:2px;
}
.p-svg-white {
    fill:var(--color-secondary);
}
.p-svg-line-white {
    stroke:var(--color-secondary);   
}