.cls-1, .svg-black { 
    fill:var(--color-primary);
    transition: .6s ease;
}
.cls-2, .svg-line-black {
    fill:none;
    stroke:var(--color-primary);
    stroke-miterlimit:10;
    stroke-width:2px;
    transition: .6s ease;
}

.svg-white {
    fill:var(--color-primary);
    transition: .6s ease;
}
.svg-line-white {
    stroke:var(--color-primary);   
    transition: .6s ease;
}
