.sp-cls-1, .sp-svg-black { 
    fill:var(--color-primary);
    transition: .6s ease;
}
.sp-cls-2, .sp-svg-line-black {
    fill:none;
    stroke:var(--color-primary);
    stroke-miterlimit:10;
    stroke-width:2px;
    transition: .6s ease;
}

.sp-svg-white {
    fill:var(--color-primary);
    transition: .6s ease;
}
.sp-svg-line-white {
    stroke:var(--color-primary);   
    transition: .6s ease;
}
