// Main color of Juno
$color-main: #F56962;
$color-main-70: #F5938E;
$color-main-30: #F5D2D0;

// Color of Science
$color-purple: #6929C4;
$color-purple-70: #8A3FFC;
$color-purple-30: #E8DAFF;

// Color of Art
$color-light-blue: #1192E8;
$color-light-blue-70: #33B1FF;

$color-gray: #20252E;
$color-gray-70: #ACA7B8;

$color-dark: #101217;
$color-light: #E6DFF5;
