$space-sm-sm: 2.1rem;
$space-sm-md: 2.4rem;
$space-sm-lg: 2.7rem;
$space-sm-xl: 3.0rem;

$space-md-sm: 4.2rem;
$space-md-md: 4.5rem;
$space-md-lg: 4.8rem;
$space-md-xl: 5.1rem;

$space-lg-sm: 6.0rem;
$space-lg-md: 6.3rem;
$space-lg-lg: 6.6rem;
$space-lg-xl: 6.9rem;

$space-xl-sm: 12rem;
$space-xl-md: 15rem;
$space-xl-lg: 18rem;
$space-xl-xl: 21rem;