.services-container {
    padding: $space-sm-lg;

    @include desktop-sm {
        padding: 0 $space-lg-sm;
    }
    
    &__services {
        position: relative;
        width: 100%;
        min-height: 60vh;
        overflow: hidden;

        @include desktop-sm {
            height: 100vh;
        }

        &-list {
            padding: $space-base-xl 0;
            width: 100%;
            overflow-x: scroll;
        }
    }
}