
.idea-card {
    min-width: 210px;
    width: 100%;
    height: 100%;
    max-width: 300px;
    background-color: var(--color-primary);
    padding: $space-sm-sm;
    box-shadow: 0 0 1.2rem .1rem rgba(var(--color-secondary-rgb), .1);
    color: var(--color-secondary);
    cursor: pointer;
    @include transition(.9s);

    @include tablet {
        min-width: 330px;
        max-width: 360px;
        padding: $space-sm-lg;
    }

    &__container {
        width: auto;
        height: auto;
    }

    &--size-{
        &lg {
            max-height: 360px;

            @include tablet {
                max-height: 390px;
            }
        }

        &md {
            max-height: 210px;   
            @include tablet {
                max-height: 240px;
            }
        }
    }

    &:hover {
        box-shadow: 0 0 1.8rem .3rem rgba(var(--color-secondary-rgb), .3);
        
        .idea-card__figure {
            &-layer {
                opacity: .3;
            }
            & img {
                transform: scale(1.3);
            }
        }
    }

    &__category {
        color: $color-light;
        z-index: 9;
        font-size: $text-size-base-md;

        @include desktop-sm {
            font-size: $text-size-base;
        }
    }

    &__content {
        text-decoration: none;

        z-index: 9;
        & h1 {
            font-size: $text-size-sm;

            @include desktop-sm {
                font-size: $text-size-lg;
            }
        }

        & p {
            margin-top: $space-base-md;
            font-size: $text-size-base-md;
            line-height: 21px;

            @include desktop-sm {
                font-size: $text-size-base;
            }
        }
    }

    &__action {
        font-size: $text-size-base-md; 
        z-index: 9;
        margin: $space-base-xl 0;
        @include desktop-sm {
            font-size: $text-size-sm;
        }
    }


    &__figure {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        overflow: hidden;
        @include transition(.9s);


        &-layer {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 6;
            background-color: $color-dark;
            opacity: .6;
            transition: inherit;
        }

        & img {
            z-index: 3;
            filter: blur(9px);
            width: 100%;
            object-fit: cover;
            transition: inherit;
        }
    }
}