@use '../../../assets/styles/partials' as *;

.orbital-way-information {
    position: relative;
    min-width: 150px;
    width: auto;
    max-width: 150px;
    min-height: 150px;
    height: auto;
    border: 1px solid var(--color-secondary);
    padding: $space-sm-sm;
    cursor: pointer;
    background-color: none;
    @include transition(.6s);

    @include tablet() {
        min-width: 180px;
        width: auto;
        max-width: 210px;
        min-height: auto;
    }

    @include desktop-sm {
        min-width: 200px;
        width: auto;
        max-width: 210px;
        min-height: auto;
    }
    

    &:hover {
        @include shadow($color-light, 0, 0, 1px, 12px, .2);
    }
}
