.processes-container {

    padding: $space-sm-lg;

    @include desktop-sm {
        padding: 0 $space-lg-sm;
    }

    &__processes {
        position: relative;
        width: 100%;
        overflow: hidden;

        @include desktop-sm {
            height: 100vh;
        }

        &-list {
            padding: $space-sm-md 0;
            width: 100%;
            overflow-x: scroll;
        }
    }
}